@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato-Regular'),
         url('./fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* english subset */
    unicode-range: U+0000-00A0,U+00A2-00A9,U+00AC-00AE,U+00B0-00B7,
                   U+00B9-00BA,U+00BC-00BE,U+00D7,U+00F7,U+2000-206F,U+2074,U+20AC,
                   U+2122,U+2190-21BB,U+2212,U+2215,U+F8FF,U+FEFF,U+FFFD
}

h2 {
    font-family: 'Lato-Regular' !important;
}

#Hero-hero {
    background-position: center top;
}

@media only screen and (max-width: 749px) {
    #Hero-hero {
        background-image: url('../im/homepage-bg-mobile.webp');
    }
}

@media only screen and (min-width: 750px) {
    #Hero-hero {
        background-image: url('../im/homepage-bg-desktop.webp');
    }
}

.site-footer__hr {
    border-bottom: 1px solid #dddddd;
}

.site-footer p,
.site-footer__linklist-item a,
.site-footer__rte a,
.site-footer h4,
.site-footer small,
.site-footer__copyright-content a,
.site-footer__newsletter-error,
.site-footer__social-icons .social-icons__link {
    color: #333232;
}

.site-footer {
    color: #333232;
    background-color: #f6f6f6;
}

.site-footer__rte a {
    border-bottom: 1px solid #333232;
}

.site-footer__rte a:hover,
.site-footer__linklist-item a:hover,
.site-footer__copyright-content a:hover {
    color: #5a5858;
    border-bottom: 1px solid #5a5858;
}

.site-footer__social-icons .social-icons__link:hover {
    color: #5a5858;
}